{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Update User {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary border-0">
          <div class="card-header bg-transparent pb-5">

            <div class="text-muted text-center mt-2 mb-1">            
              Update User's Account
              <br>
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
              <small>Fill The Form Correctly</small>
              {% endif %}
            </div>

          <div class="card-body px-lg-5 py-lg-5">
            {% if not success %}

              <form role="form" method="post" action="">

                {{ form.hidden_tag() }}

              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  {{ form.username(placeholder="Username",class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  {{ form.no_identitas(placeholder="Nomor Identitas",class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  {{ form.nama(placeholder="Nama",class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  {{ form.gender(placeholder="Jenis Kelamin (L/P)",class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  {{ form.status(placeholder="Status",class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                  </div>
                  {{ form.no_hp(placeholder="Nomor HP",class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  {{ form.email(placeholder="Email",class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                  </div>
                  {{ form.alamat(placeholder="Alamat (Sesuai Oase)",class="form-control") }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  {{ form.no_plat(placeholder="Nomor Plat",class="form-control") }}
                </div>
              </div>
              <!--<div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-image"></i></span>
                  </div>
                  
                </div>
              </div>-->
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                  </div>
                  {{ form.tanggal_masuk(placeholder="Tanggal Masuk",class="form-control", type="text", onfocus="(this.type='date')", id="date", readonly=true) }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  {{ form.password(placeholder="Password",class="form-control",type="password") }}
                </div>
              </div>
              <div class="text-center">
                <button type="submit" name="updateuser" class="btn btn-primary my-4">Update</button>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
